.todo {
    text-align: center;
}
.todo-completed {
    background-color: lightgreen;
}
.name {
    font-size: 150%;
    margin-bottom: 1px;
}
.description {
    font-size: 125%;
}
.todo-delete {
    margin-right: 2.5%;
}
.todo-complete {
    margin-left: 2.5%;
}